a.elementor-button.elementor-button-link.elementor-size-md:hover {
    color: #325664 !important;
    background-color: #FFFFFF !important;
    border-style: solid !important;
    border-width: 0.05em;
    border-color: #325664 !important;
}

a.elementor-button.elementor-button-link.elementor-size-md:focus {
    color: #325664 !important;
    background-color: #FFFFFF !important;
    border-style: solid !important;
    border-width: 0.05em;
    border-color: #325664 !important;
}

#sitelinx_screen_down:active, #sitelinx_screen_up:active, #sitelinx_fontsize_down:active, #sitelinx_fontsize_up:active, #sitelinx_readable_font:active, #sitelinx_contrast_bright:active, #sitelinx_contrast_dark:active, #sitelinx_links_underline:active, #sitelinx_links_mark:active {
    background-color: yellow;
}

.elementor-drop-cap-letter {
    color: #6b6865;
}
.elementor-drop-cap, .elementor-widget-container {
    color: #555250;
}

div.elementor-element.elementor-element-01c13fd.elementor-widget.elementor-widget-text-editor {
    color: #555250;
}

#white_text {
    color: white;
}

#copyright_text {
    color: rgba(255, 255, 255, 0.5);
}

div.elementor-element.elementor-element-54f6b4d6.e-flex.e-con-boxed.e-con.e-parent {
    background-color: #797572 !important;
}

section.elementor-section.elementor-top-section.elementor-element.elementor-element-23068cdb.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    background-color: #797572 !important;
}

div.elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-20b2bdf5 {
    background-color: #797572 !important;
}

#explore_section {
    background-color: #797572 !important;
}



/* contact.html css */
.white_text {
    color: white;
}

#gform_submit_button_2:hover, #gform_submit_button_3:hover {
    color: #325664 !important;
    background-color: #FFFFFF !important;
    border-style: solid !important;
    border-width: 0.05em;
    border-color: #325664 !important;
}

#gform_submit_button_2:focus, #gform_submit_button_3:focus {
    color: #325664 !important;
    background-color: #FFFFFF !important;
    border-style: solid !important;
    border-width: 0.05em;
    border-color: #325664 !important;
}

input:focus, textarea:focus {
    outline: none !important; /* Removes the default focus outline */
    border: 2px solid blue !important; /* Adds a blue border */
    background-color: lightyellow !important; /* Changes background to light yellow */
    /* Add other styles as needed */
}

.form_instruction {
    font-size: 18px;
}

label {
    color: #2b2d31;
}

#get-in-touch {
    color: white;
    font-weight: 900;
    font-size: 1.2em;
}

#overlay {
    filter: blur(100%);
    filter: grayscale(100%);
}

